<!DOCTYPE html>
<html lang="ne">
<head>
    <meta charset="UTF-8">
    <title>मौसम जानकारी | Nepali Weather</title>
    <!-- External CSS Links -->
    <link rel='stylesheet' href="/static/css/navbar.css">
    <link rel='stylesheet' href="/static/css/footer.css">
    <link rel='stylesheet' href="/static/css/weather.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <!-- Nav Bar Here -->
    <div class="topnav" id="myTopnav">
        <a href="/" style="padding:5px;">
            <div id="logo_">
                <img src="https://ramropatro.com/images/ramropatro.png" alt="Ramro Patro" width="40px">
                <span>Ramro Patro</span>
            </div>
        </a>
            <div id="myLinks">
                <a href="/calendar">Calendar</a>
                <a href="/weather">Weather</a>
                <a href="/datecv">Date Converter</a>
                <a href="https://ramropatro.com/vegetable">Vegetable</a>
                <a href="https://ramropatro.com/rashifal">Rashifal</a>
                <a href="https://ramropatro.com/gold">Gold Silver</a>
                <a href="https://ramropatro.com/forex">Forex</a>
                <a href="https://ramropatro.com/unicode">Unicode</a>
                <a href="https://ramropatro.com/widgets">Widgets</a>
                <a href="https://ramropatro.com/cards">Cards</a>
            </div>  
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
    </div>
        <!-- Script for Nav Bar -->
        <script>
        function myFunction() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }
        </script>
    <!-- Nav Bar Ends -->
    <br><br>
    <!-- Container -->
    <div class="container">
        <!-- Header -->
        <div class="header">
            <h1>नेपाली मौसम</h1>
            <p>Nepal Weather Information</p>
        </div>
        <!-- Search Box -->
        <div class="search-container">
            <div class="search-box">
                <input type="text" class="search-input" placeholder="Search city..." value="Kathmandu">
                <div class="dropdown"></div>
            </div>
        </div>
        <!-- Weather Card/ Container -->
        <div class="weather-card">
            <img src="https://openweathermap.org/img/wn/02d@2x.png" alt="Weather Icon" class="weather-icon">
            <div class="temperature">23°C</div>
            <div class="description">Partly Cloudy</div>
            <div class="details">
                <div class="detail-item">
                    <h3>Humidity</h3>
                    <p>65%</p>
                </div>
                <div class="detail-item">
                    <h3>Wind Speed</h3>
                    <p>2.5 km/h</p>
                </div>
                <div class="detail-item">
                    <h3>Pressure</h3>
                    <p>1015 hPa</p>
                </div>
            </div>
        </div>
    </div>

    <br><br>
    <!-- Footer -->
    <footer>
        <div id="calendarLinks">

            <h3>Nepali Calendar 2081</h3>
            <div id="clcol">
                <div id="firstHalf">
                    <div class="colc"><span><a href="/calendar/2081/baisakh">Baishakh</a></span> - <span><a href="/calendar/2081/baisakh">वैशाख</a></span></div>
                    <div class="colc"><span><a href="/calendar/2081/jestha">Jestha</a></span> - <span><a href="/calendar/2081/Jestha">जेठ</a></span></div>
                    <div class="colc"><span><a href="/calendar/2081/ashad">Ashad</a></span> - <span><a href="/calendar/2081/ashad">असार</a></span></div>
                    <div class="colc"><span><a href="/calendar/2081/shrawan">Shrawan</a></span> - <span><a href="/calendar/2081/shrawan">साउन</a></span></div>
                    <div class="colc"><span><a href="/calendar/2081/bhadra">Bhadra</a></span> - <span><a href="/calendar/2081/bhadra">भदौ</a></span></div>
                    <div class="colc"><span><a href="/calendar/2081/ashoj">Ashoj</a></span> - <span><a href="/calendar/2081/ashoj">असोज</a></span></div>
                </div>
                <div id="secHalf">
                    <div class="colc"><span><a href="/calendar/2081/kartik">Kartik</a></span> - <span><a href="/calendar/2081/kartik">कार्तिक</a></span></div>
                    <div class="colc"><span><a href="/calendar/2081/mangsir">Mangsir</a></span> - <span><a href="/calendar/2081/mangsir">मंसिर</a></span></div>
                    <div class="colc"><span><a href="/calendar/2081/poush">Poush</a></span> - <span><a href="/calendar/2081/poush">पौष</a></span></div>
                    <div class="colc"><span><a href="/calendar/2081/magh">Magh</a></span> - <span><a href="/calendar/2081/magh">माघ</a></span></div>
                    <div class="colc"><span><a href="/calendar/2081/falgun">Falgun</a></span> - <span><a href="/calendar/2081/falgun">फागुन</a></span></div>
                    <div class="colc"><span><a href="/calendar/2081/chaitra">Chaitra</a></span> - <span><a href="/calendar/2081/chaitra">चैत</a></span></div>
                </div>
            </div>
        </div>
        <div id="features">
            <h3>Features</h3>
            <div class="colc"><a href="/forex">Forex</a></div>
             <div class="colc"><a href="/widgets">Widgets</a></div>
            <div class="colc"><a href="/rashifal">Rashifal</a></div>
            <div class="colc"><a href="/gold">Gold Rates</a></div>
            <div class="colc"><a href="/unicode">Nepali Unicode</a></div>
            <div class="colc"><a href="/vegetable">Vegetable Rates</a></div>
        </div>

        <div id="ffestivals">
            <h3>Festivals</h3>
            <div class="colc"><a href="/calendar/2081/baisakh">New Year</a></div>
            <div class="colc"><a href="/calendar/2081/ashoj">Teej</a></div>
            <div class="colc"><a href="/calendar/2081/kartik">Dashain</a></div>
            <div class="colc"><a href="/calendar/2081/kartik">Tihar</a></div>
            <div class="colc"><a href="/calendar/2081/kartik">Chhath</a></div>
            <div class="colc"><a href="/calendar/2081/poush">Lhosar</a></div>
            <div class="colc"><a href="/calendar/2081/magh">Maghe Shankranti</a></div>
            <div class="colc"><a href="/calendar/2081/falgun">Falgu Purnima</a></div>
            <div class="colc"><a href="/calendar/2081/falgun">Shiva Ratri</a></div>
        </div>

        <div id="ctctus" >

            <h3>Contact Us</h3>
            <div class="colc"><a href="mailto:  ramropatro@gmail.com"><i class="fa fa-envelope mr-2"></i>&nbsp;ramropatro@gmail.com</a></div>

        </div>
        </div>
         <div id="acalendar-nepali-link">
                <span id="cprght"><img style="vertical-align:middle;margin-right: 10px" src="https://ramropatro.com/images/ramropatro.png" alt="Ramro Patro" width="40px">© Ramro Patro,  All Rights Reserved</span>

                <span id="soc"><a href="https://www.facebook.com/ramropatro" target="_blank"><img src="https://ramropatro.com/images/ramro_patro_facebook_page.png" width="50px" height="50px"/></a></span>
        </div>
    </footer> 
    <!-- Footer Ends -->
    <!-- External JS Links -->
    <script src="/static/js/weather.js"></script>
    </body>
</html>